.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 100px;
  margin-top: 50px;
}

.place-order-left {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.place-order-left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: var(--primary);
}

.place-order-left .multi-fields {
  display: flex;
  gap: 10px;
}

.place-order-right {
  flex: 1;
  width: 100%;
}

.place-order .cart-total button {
  background-color: var(--primary);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.place-order .cart-total button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.place-order-buttons {
  display: flex;
  gap: 12px;
  margin: 30px 0;
}

@media (max-width: 900px) {
  .place-order {
    gap: 50px;
  }
}

@media (max-width: 750px) {
  .place-order {
    flex-direction: column;
    gap: 20px;
  }

  .place-order-buttons {
    flex-direction: column;
  }
}
